/* CSS Reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
    list-style: none;
}
/* CSS Reset end */

/* Fonts start */
@font-face {
    font-family: 'creepster';
    src: url('../fonts/creepster-regular-webfont.woff2') format('woff2'),
         url('../fonts/creepster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Fonts end */
body {
    font-family: 'creepster';
    font-size: 22px;
    color: #fff;
}
.wrapper {
    position: relative;
    background-image: url(../images/bats.png), url(../images/witches.png), url(../images/bg.jpg);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 		
        100% 135%,
        135% 100%,
        0 100%;
    background-size: 
        300px,
        400px,
        2000px;
    min-height: 100vh; 
}
.bg-animate {
    animation: 20s bg-animated infinite linear;
}
@keyframes bg-animated {
    100% {
    background-position: 
        -30% -30%,
        -35% 100%,
        1000px 100%;
    }
}
.greeting {    
    width: 100%;
    height: 100%;
    background: #000 url(../images/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}
.greeting__wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.greeting__title {
    font-size: 90px;
    padding: 20px 0;    
}
.greeting__text {
    font-size: 45px;
    margin-bottom: 20px;
}
.greeting__fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.greeting__fields::before {
    content: '';
    background-image: url(../images/pumpkin2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 45px;
    display: block;
    position: absolute;
    top: 5px;
    right: 115px;
    z-index: -1;
    transition: all .8s linear;
}
.greeting__fields:hover::before {
    right: 20px;
}
.greeting__field {
    width: 300px;
    padding: 10px;
    margin-right: 15px;
    color: #974514;
    font-family: 'creepster';
    font-size: 22px;
    border-radius: 8px;
    border: 2px dashed #000;
    outline: none;
}
.greeting__button {
    position: relative;
    padding: 10px;
    font-family: 'creepster';
    text-transform: uppercase;
    background-color: #fff;
    color: #974514;
    font-size: 26px;
    border: 2px solid #974514;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all .3s linear;
}
.greeting__button:hover {
    background-color: #974514;
    border: 2px solid #000;
    color: #000;
}
.greeting__user {
    font-size: 60px;
    width: 70%;
    margin: 0 auto;
}
.game-area {
    width: 100%;
    height: 750px;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.gamer {
    position: absolute;
    bottom: 250px;
    left: 20px;
    height: 250px;
    outline: none;
}
.enemy {
    position: absolute;
    right: 0;
}

.info-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.score-area {
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: #000000d9;
    padding: 5px 10px;
    border-radius: 8px;
}
.start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.score-area, .start {
    font-size: 3rem;
}
  
.start-btn {
    position: relative;
    width: 260px;
    padding: 38px 5px 10px 5px;
    font-family: 'creepster';
    text-transform: uppercase;
    background-color: #fff;
    color: #974514;
    font-size: 70px;
    border: 2px solid #974514;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all .3s linear;
}
.start-btn:hover {
    background-color: #974514;
    border: 2px solid #000;
    color: #000;
}
.start-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: -18px;
    left: -10px;
    width: 107%;
    height: 125px;
    background-image: url(../images/vippng.com-pumpkin-vector-png-111009.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
}
.score-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../images/bg-over.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 9;
}
.score-cover__over-text {
    animation: flashing 3s linear infinite;
}
@keyframes flashing {
    0% { color: rgba(207, 21, 21, 1); }
    50% { color: rgba(207, 21, 21, 0); }
    100% { color: rgba(207, 21, 21, 1); }
}
.score-cover__inner {
    width: 30%;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #974514;
    border: 2px solid #974514;
    border-radius: 8px;
}
.score-cover__inner::after {
    content: '';
    display: block;
    position: absolute;
    top: -90px;
    left: -10px;
    width: 103%;
    height: 278px;
    background-image: url(../images/vippng.com-pumpkin-vector-png-111009.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
}
.score-cover__btn {
    position: relative;
    width: 150px;
    padding: 10px;
    background-color: #974514;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-family: 'Irish Grover';
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    transition: all .3s linear;
}
.score-cover__btn:hover {
    transform: scale(0.95);
}
.score-cover__btn_one::before, .score-cover__btn_two::before {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 50px;
    position: absolute;
    top: 5px;
    transition: all .5s linear;
}
.score-cover__btn_one::before {
    height: 45px;
    left: 10px;
    background-image: url(../images/pumpkin2.png);
}
.score-cover__btn_two::before {
    height: 50px;
    right: -10px;
    background-image: url(../images/ghost.png);
}
.score-cover__btn_one:hover::before {
    top: -10px;
}
.score-cover__btn_two:hover::before {
    top: 17px;
}
.audio {
    position: absolute;
    top: 10px;
    right: 20px;
}
.audio__buttons {
    display: flex;
    align-items: center;
}
.audio__icon {
    width: 50px;
    height: 50px;    
    background-image: url(../images/play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s linear;
}
.pause {
    background-image: url(../images/pause.svg);
}
.audio__icon:hover {
    transform: scale(0.95);
}
.danger-text {
    color: red;
    margin-top: 10px;
    opacity: 0;
}
.hidden {
    display: none;
}